* {
    --border-thicknes: 2px;
    --border-color: black;
    --border-style: solid;
}

.grid {
    position: relative;
    overflow: hidden;
    flex-basis: 20px;
    overflow: hidden;
    display: flex;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.rotated{
    margin-left: 0;
    margin-right:0;
}
.rightVariant {
    border-bottom: var(--border-thicknes) var(--border-color) var(--border-style);
    border-top: var(--border-thicknes) var(--border-color) var(--border-style);
    justify-content: space-between;
    align-items: center;
}
.rightVariant:last-child{
    border-bottom: none;
}
.leftVariant {
    border-top: var(--border-thicknes) var(--border-color) var(--border-style);
    border-bottom: var(--border-thicknes) var(--border-color) var(--border-style);
    justify-content: space-between;
    align-items: center;
}
.topVariant {
    border-top: none;
    border-left: var(--border-thicknes) var(--border-color) var(--border-style);
    border-right: var(--border-thicknes) var(--border-color) var(--border-style);
}
.bottomVariant {
    border-bottom: none;
    border-right: var(--border-thicknes) var(--border-color) var(--border-style);
    border-left: var(--border-thicknes) var(--border-color) var(--border-style);
    justify-content: flex-start;
}
.iconField, .iconField.topVariant {
    justify-content: space-around;
}
.symbolIcon {
    font-size: 3.5rem;
}
.bottomLeftVariant{
    border-top: var(--border-thicknes) var(--border-color) var(--border-style);
}
.topLeftVariant{
    border-right: var(--border-thicknes) var(--border-color) var(--border-style);
}
.topRightVariant{
    border-bottom: var(--border-thicknes) var(--border-color) var(--border-style);
}
.bottomRightVariant{
    border-left: var(--border-thicknes) var(--border-color) var(--border-style);
}
.gridWide {
    flex-grow: 2;
    flex-basis: 20px;
}
.upside {
    transform: rotate('180deg');
}

.leftVariant .colorBar, .rightVariant .colorBar {
    width: 1.5rem;
    height: 100%;
    position: relative;
}

.bottomVariant .colorBar, .topVariant .colorBar {
    height: 1.5rem;
    width: 100%;
    position: relative;
}
.iconBlank {
    height: 30%;
}
.wrapText {
    word-break: break-all;
    overflow-wrap: break-word;
}

