.grid {
    flex-grow: 1;
    border-top: black medium solid;
    border-left: black medium solid;
    border-right: black medium solid;
    /* height: 100%; */
    position: relative;
    overflow: hidden;
}
.rotated{
    margin-left: 0;
    margin-right:0;
}
.gridWide {
    flex-grow: 2;
    border-left: none;
    border-color: red;
}
.upside {
    transform: rotate('180deg');
}
.colorBar {
    height: 2rem;
    width: 100%;
    position: relative;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.iconBlank {
    height: 30%;
}
.wrapText {
    word-break: break-all;
    overflow-wrap: break-word;
}

