* {
    --border-thicknes: 2px;
    --border-color: black;
    --border-style: solid;
}

.grid {
    position: relative;
    overflow: hidden;
    flex-basis: 20px;
    overflow: hidden;
}
.rotated{
    margin-left: 0;
    margin-right:0;
}
.rightVariant {
    border-bottom: var(--border-thicknes) var(--border-color) var(--border-style);
    border-top: var(--border-thicknes) var(--border-color) var(--border-style);
}
.rightVariant:last-child{
    border-bottom: none;
}
.leftVariant {
    border-top: var(--border-thicknes) var(--border-color) var(--border-style);
    border-bottom: var(--border-thicknes) var(--border-color) var(--border-style);
}
.topVariant {
    border-top: none;
    border-left: var(--border-thicknes) var(--border-color) var(--border-style);
    border-right: var(--border-thicknes) var(--border-color) var(--border-style);
}
.bottomVariant {
    border-bottom: none;
    border-right: var(--border-thicknes) var(--border-color) var(--border-style);
    border-left: var(--border-thicknes) var(--border-color) var(--border-style);
}
.bottomLeftVariant{
    border-top: var(--border-thicknes) var(--border-color) var(--border-style);
}
.topLeftVariant{
    border-right: var(--border-thicknes) var(--border-color) var(--border-style);
}
.topRightVariant{
    border-bottom: var(--border-thicknes) var(--border-color) var(--border-style);
}
.bottomRightVariant{
    border-left: var(--border-thicknes) var(--border-color) var(--border-style);
}
.gridWide {
    flex-grow: 2;
    flex-basis: 20px;
}
.upside {
    transform: rotate('180deg');
}
.colorBar {
    height: 2rem;
    width: 100%;
    position: relative;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.iconBlank {
    height: 30%;
}
.wrapText {
    word-break: break-all;
    overflow-wrap: break-word;
}

