.fieldBar{
    position: relative;
    display: flex;
    display: grid;
    border: solid black medium;
}
.fieldBarBottom{
    grid-area: f-bot;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;

}
.fieldBarRight {
    border-bottom: none;
    grid-area: f-right;
    grid-template: 
                    "1-slot" 2fr 
                    "2-slot" 1fr 
                    "3-slot" 1fr 
                    "4-slot" 1fr
                    "5-slot" 1fr
                    "6-slot" 1fr 
                    "7-slot" 1fr 
                    "8-slot" 1fr 
                    "9-slot" 1fr 
                    "10-slot" 1fr
}
.fieldBarLeft{
    border-top: none;
    grid-area: f-left;
    grid-template: 
                     "1-slot" 1fr 
                     "2-slot" 1fr 
                     "3-slot" 1fr 
                     "4-slot" 1fr
                     "5-slot" 1fr
                     "6-slot" 1fr 
                     "7-slot" 1fr 
                     "8-slot" 1fr 
                     "9-slot" 1fr 
                    "10-slot" 2fr / 1fr;
    /* transform: rotate(90deg); */
    /* flex-direction: column; */
}
.fieldBarTop{ 
    border-right: none;
    grid-area: f-top;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* transform: rotate(180deg); */
}
.fieldBarRight{
    border-bottom: none;
    grid-area: f-right;
    /* transform: rotate(-90deg); */
    /* flex-direction: column; */
}