.fieldBar{
    position: relative;
    display: flex;
}
.fieldBarBottom{
    grid-area: f-bot;
}
.fieldBarLeft{
    grid-area: f-left;
}
.fieldBarTop{ 
    grid-area: f-top;
}
.fieldBarRight{
    grid-area: f-right;
}