* {
    --border-thicknes: thin;
    --border-color: black;
    --border-style: solid;
}

.fieldBar{
    position: relative;
    display: flex;
    display: grid;
}
.fieldBarBottom{
    grid-area: f-bot;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    border-left: none;
    border-top: var(--border-thicknes) var(--border-color) var(--border-style);
}
.fieldBarRight {
    border-bottom: none;
    grid-area: f-right;
    grid-template: 
                    "1-slot" 2fr 
                    "2-slot" 1fr 
                    "3-slot" 1fr 
                    "4-slot" 1fr
                    "5-slot" 1fr
                    "6-slot" 1fr 
                    "7-slot" 1fr 
                    "8-slot" 1fr 
                    "9-slot" 1fr 
                    "10-slot" 1fr
}
.fieldBarLeft{
    border-top: none;
    border-right: var(--border-thicknes) var(--border-color) var(--border-style);
    grid-area: f-left;
    grid-template: 
                     "1-slot" 1fr 
                     "2-slot" 1fr 
                     "3-slot" 1fr 
                     "4-slot" 1fr
                     "5-slot" 1fr
                     "6-slot" 1fr 
                     "7-slot" 1fr 
                     "8-slot" 1fr 
                     "9-slot" 1fr 
                    "10-slot" 2fr / 1fr;
}
.fieldBarTop{ 
    border-right: none;
    border-bottom: var(--border-thicknes) var(--border-color) var(--border-style);
    grid-area: f-top;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.fieldBarRight{
    border-left: var(--border-thicknes) var(--border-color) var(--border-style);
    border-bottom: var(--border-thicknes) var(--border-color) var(--border-style);
    grid-area: f-right;
}