.color {
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: inset 0px 0px 29px 10px rgba(0,0,0,0.4);
}
.wrapper {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 75px;
    justify-content: space-between;
    align-items: center;
}